@import '../variables/variables.css';

html {
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
    font-size: var(--FS);

    background-color: var(--BGCOLOR);

}

body {
    background-color: #fff;
    position: relative;

    display: grid;
    place-content: center;
    place-items: center;
}